// Colors

//Primery

$p-clr1: #beca81;
$p-clr2: #F67E7E;
$p-clr3: white;

//Secondery
$s-clr1: #edf2f5;
$s-clr2: #2C6269;
$s-clr3: #004047;
$s-clr4: #012F34;
$s-clr5: #002529;



$almost-white: #faf6f6;
$almost-black: #393737;

$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 560px;
$break-normal: 980px;
$break-wide: 1400px;