.product-preview {
    display: flex;

    .product-img {
        width: 150px;
        height: 150px;
    }

    h3 {
        margin: 0;
        font-weight: 400;
    }
    p{
        margin: 0;
        font-weight: bold;

    }

    .product-container {
        display: flex;
        gap: 10px;

    }
}